#calendar-area {
  width: 80%;
  margin: auto;
  text-align: center;
}

.cal-title {
  color: #A239CA;
  font-size: 200%;
  margin: .5em 0 .5em 0;
}

.cal-header {
  color: #4717F6;
  font-size: 150%;
  margin: .5em 0 .5em 0;
}

.cal-item {
  color: #aaaaee;
  font-size: 100%;
  margin: .2em 0 .2em 0;
}

.cal-full-link {
  font-size: 125%;
  margin: 2em 0 2em 0;
}
