/*.free-wall {
  margin: 15px;
}*/

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #D9B310;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20%; /* sets number of cols in grid */
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
  padding: 0;
}

#carousel-area {
  padding: 5px;
}

#carousel-area img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-radius: 3px;
}

.transparent {
  opacity: 0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
}

#carousel-caption-area {
  text-align: center;
  overflow: auto;
  padding: 10px;
}

hr {
  background-color: #0B3C5D;
  color: #0B3C5D;
  height: 2px;
  opacity: 0.5;
  border: 0;
}
