/*.free-wall {
  margin: 15px;
}*/

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #D9B310;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20%; /* sets number of cols in grid */
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
  padding: 1px;
}

hr {
  background-color: #0B3C5D;
  color: #0B3C5D;
  height: 2px;
  opacity: 0.5;
  border: 0;
}

#text-area {
  text-align: center;
}
