/*.free-wall {
  margin: 15px;
}*/

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
}

#container {
  width: 80%;
  margin: auto;
}

#carousel-area {
  padding: 20px;
  height: 300px;
  background-color: green;
}

#grid-area {
  padding: 20px;
  background-color: red;
}

.item {
  background: rgb(135, 199, 135);
  width: 320px;
  height: 320px;
}

.transparent {
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
}

.imgCSL {
    position: absolute;
}
