body.main-page {
  background: url("../img/BG.jpg") no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  color: #f19f4d;
}

.title-area {
  font-family: 'Bubblegum Sans', cursive;
  margin: 50px 0px 80px 0px;
  text-align: center;
  margin: auto;
  padding: 10px 20px 30px 20px;
}

.title {
  font-family: inherit;
  font-size: 500%;
  font-weight: bold;
  display: block;
  text-align: center;
}

.sub-title {
  font-family: inherit;
  font-size: 350%;
  display: block;
  text-align: center;
}

.navbar {
  background-color: transparent;
  background: transparent;
  border-width: 0px;
}

.navbar-brand {
  color: #f9cf00 !important;
  font-weight: bold;
  font-size: 135%;
  opacity: 0.5;
}

.nav.navbar-nav li a {
  color: #d9d9d9;
  font-weight: bold;
  font-size: 125%;
  text-transform: uppercase;
}

.nav.navbar-nav li a:hover {
  color: #4484ce;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float: none;
}

.loco-btn a {
  color: #f19f4d !important;
}

.loco-btn a:hover {
  color: #f19f4d !important;
}

body.other-page {
  background-color: #f9cf00;
  color: #4484ce;
}

.listing {
  font-family: 'Open Sans', sans-serif;
  color: #4484ce;
  margin: 20px 0px 20px 0px;
  margin: auto;
  width: 80%;
}

.listing-title {
  font-family: inherit;
  color: inherit;
  font-size: 200%;
  text-align: center;
  font-weight: bold;
  margin: 20px 0px 20px 0px;
}

.listing-item {
  text-align: center;
  font-family: inherit;
  color: inherit;
  font-size: 125%;
  margin: 20px 0px 20px 0px;
}

hr {
  width: 80%;
  opacity: 0.2;
  text-align: center;
  margin: 0 auto;
}

.img-bio-right {
  border-radius: 5px;
  float: right;
  height: 150px;
  margin: 10px;
}

.img-bio-left {
  border-radius: 5px;
  float: left;
  height: 150px;
  margin: 10px;
}

.bio-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: inherit;
}

footer {
  border-top: 1px solid #f19f4d;
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 10px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
}

footer span a {
  color: #4484ce;
}

footer span a:hover {
  color: #d9d9d9;
}

.footer-element {
  width: calc( 100% / 3);
  text-align: center;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.text-paragraph {
  margin: 0 auto;
  width: 80%;
  font-size: 18px;
  padding-top: 20px;
}

.text-header {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  font-size: 24px;
  padding-top: 20px;
}

.center {
  margin: 0 auto;
  text-align: center;
}
